.grid {
  margin: 5% auto;
  height: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */

  padding: 2%;
  border: 3px solid #5f5f5f;
  border-radius: 10px;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px !important;
}

button {
  margin: 2px;
}
